

// Brand colors
black        = #3c3e4d;
white        = #efefef;
grey         = #bababe;
light-grey   = #dadade;

green        = #3cb878;
blue         = #2095bc;
yellow       = #ffd161;
light-purple = #645f7e;
purple       = #28253a;
red          = #e05757;

// Base font settings
base-font             = "Source Sans Pro", sans-serif;
base-line-height      = 1.8;
base-font-color       = black;
base-font-weight      = 400;
base-font-size        = 18px;
base-text-shadow      = none;


// Header font settings
header-font           = "Source Sans Pro", sans-serif;
header-font-color     = black;
header-transform      = none;
header-weight         = 300;


// Code font settings
code-font             = "source-code-pro", sans-serif;
code-background-color = black;
code-font-color       = black;
code-font-size        = 14px;
code-font-weight      = 800;
code-line-height      = 1.4;
code-border           = 0 2px 0 0 white;
code-comment-color    = rgba(code-font-color, .5);

// Just some variables for the icon-font
icon-font-name = 'ProjectHUB';
icon-root-url = '/assets/fonts/';

icons = {
  twitter: "\e601",
  github: "\e600",
  binoculars: "\e005",
  nuclear: "\e006",
  paperclip: "\e007",
  link: "\e014",
  skull: "\e02f",
  paintbrush: "\e057",
  notes: "\e078",
  faqs: "\e0af",
  download: "\e228",
  pulse: "\e30e",
  meter: "\e30f",
  wrench: "\e318",
  forklift: "\e364",
  bug: "\e3cb",
  terminal: "\e3d9",
  hamburger: "\e473",
  branch: "\e480",
  branch-alt: "\e489",
  diamond: "\e49c",
  contribute: "\e5bc",
  down: "\e62a",
  download: "\e665"
}


