* { -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5 {
  color: header-font-color;
  font-family: header-font;
  font-weight: header-weight;
  text-transform: header-transform;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
}

body, p {
  color: base-font-color;
  font-family: base-font;
  font-size: base-font-size;
  font-weight: base-font-weight;
  line-height: base-line-height;
  text-shadow: base-text-shadow;
}

p {
  padding-bottom: 1em;
}

blockquote {
  box-shadow: inset 2px 0 light-purple;
  font-family: code-font;
  background: rgba(light-purple, .1);
  display: block;
  position: relative;
  font-style: italic;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 2px 0;
}

code {
  background: rgba(black, .8);
  padding: 2px 10px;
  color: light-purple;
  font-family: code-font;
  word-break: break-all;
}